###################################################################
# Fichier de log à surveiller
LOG_FILE=/var/log/nginx/access.log

# FACULTATIF: regexp de filtrage supplémentaire (attention simple-quotes obligatoire), ignoré si vide
#FILTER='^.* HTTP/(1|2)\.(0|1)" 403 '

###################################################################
# Configuration de l'analyse et du blocage

# Délai d'attente entre deux analyses (secondes)
PERIOD=10

# Nombre max de lignes pendant la période
TRIGGER=2000

# Durée du blocage (minutes)
BLOCKING_DURATION=30

# Activer le blocage pour ces protocoles
ENABLE_IPV4=1
ENABLE_IPV6=1

###################################################################
# Définition des blocs d'adresses en liste blanche

# URL de téléchargement des blocs d'adresses IPv4
DL_URL_IPV4='https://www.ipdeny.com/ipblocks/data/countries/fr.zone'

# Blocs IPv4 à ajouter à la liste
LAN_IPV4="10.0.0.0/8"

# URL de téléchargement des blocs d'adresses IPv6
DL_URL_IPV6='https://www.ipdeny.com/ipv6/ipaddresses/blocks/fr.zone'

# Blocs IPv6 à ajouter à la liste
LAN_IPV6="fe80::/10"

###################################################################
# Divers

# Destinataires mail d'alerte
MAIL_DESTS="dest1@domaine1.fr dest2@domaine2.fr"

# Mode DEBUG
# 0: fonctionnement normal
# 1: alerte mail uniquement, pas de mise en place du blocage
# 2: pas d'alerte mail ni de blocage (permet de surveiller l'activité dans Syslog)
DEBUG=0
